version: "3.5"

networks:
  akamas:
    name: akamas
    driver: bridge

services:
  toolbox:
    image: 485790562880.dkr.ecr.us-east-2.amazonaws.com/akamas/toolbox:${CURR_VERSION}
    container_name: toolbox
    environment:
      - BASH_ENV=/home/akamas/.bashrc
    expose:
      - 22
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - akamas
    restart: unless-stopped
